@tailwind base;
@tailwind components;
@tailwind utilities;

.damion-regular {
  font-family: "Damion", serif;
  font-weight: 400;
  font-style: normal;
}

.jost {
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body {
  @apply bg-slate-950 font-jost text-white;
}
